body {
  background-color: #000;
  color: #fff;
  font-family: 'Castoro Titling', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.freecodecamp-logo {
  width: 400px;
  height: 50px;
  background-color: rgb(60, 255, 0);
  box-shadow: 0px 0px 10px rgb(0, 197, 0);
  padding: 50px;
  border-radius: 50px;
}

h1 {
  font-size: 2.5rem;
}

form {
  margin-top: 20px;
}

fieldset {
  border: none;
}

label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

input[type='number'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #222;
  color: #fff;
  border-radius: 2cm;
}

button {
  padding: 10px 20px;
  background-color: rgba(0, 255, 0, 0.459);
  border: none;
  color: #000;
  cursor: pointer;  
  border-radius: 5cm;
}

button:hover {
  background-color: rgb(2, 182, 2); 
}
button:active {
  box-shadow: 0 0 10px 5px rgba(72, 255, 0, 0.9);
  }


  .output {
    margin-top: 20px;
    padding: 10px;
    background-color: #222;
    border-radius: 5cm;
  }
  
  .alert {
    background-color: #f00;
  }
  
  .hidden {
    display: none;
  }