* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: #f8f8f8;
  user-select: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.talending-logo {
  height: 150px;
  margin-bottom: 20px;
  box-shadow: 0 6px 6px #00ff73;
  border-radius: 20px;
}

.title {
  text-align: center;
  padding: 10px 0;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.palindrome-div {
  width: min(100vw, 450px);
  min-height: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  margin: 10px 0;
  background-color: white;
  box-shadow: 0 6px 6px #00ff73;
}

label {
  color: #0a0a23;
  margin-bottom: 20px;
}

.palindrome-btn {
  width: 90px;
  margin-left: 10px;
  border: none;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 6px 6px #a80000;
  background-color: #d40000;
  color: #fff;
  cursor: pointer;
}
.palindrome-btn:active {
  background-color: #ff2121;
}

.palindrome-input {
  height: 30px;
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
  margin: 10px;
  border: none;
  box-shadow: 5px 5px 10px 6px #d40000;
  outline: none;
}

.user-input {
  font-size: 1.4rem;
  margin-top: 10px;
  text-align: center;
}

.results-div {
  overflow-y: auto;
  word-wrap: break-word;
  min-height: 50px;
  color: black;
}

.hidden {
  display: none;
}

.palindrome-definition-div {
  width: min(100vw, 450px);
  font-size: 1.3rem;
  min-height: 140px;
  background-color: #00a2ff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.palindrome-definition-div:hover {
  box-shadow: 0px 0px 10px 6px #00ff73;
}

.palindrome-definition {
  vertical-align: middle;
  text-align: center;
}
